{% load static %}

<section class="hero">

    <div class="hero-left">

        <h1>
            Fresh & Crispy
            <br>
            <span>Chicken</span>
            Delivered Fast
        </h1>

        <p>
            Enjoy delicious fried chicken, juicy burgers,
            crispy fries and refreshing drinks delivered
            right to your doorstep.
        </p>

        <div class="hero-buttons">

            <a href="#" class="primary-btn">
                Order Now
            </a>

            <a href="#" class="secondary-btn">
                View Menu →
            </a>

        </div>

    </div>

    <div class="hero-right">

        <img src="{% static 'images/fried-chicken.png' %}" alt="Chicken">

    </div>

</section>