{% extends 'base.html' %}

{% block title %}
Home | CrispyBite
{% endblock %}

{% block content %}
{% comment %} hero section {% endcomment %}
{% include 'home/hero.html' %}
{% comment %} categories section {% endcomment %}
{% include 'home/categories.html' %}
{% comment %} featured dishes section {% endcomment %}
{% include 'home/featured.html' %}
{% comment %} why choose section {% endcomment %}
{% include 'home/whychoose.html' %}
{% comment %} special offers section {% endcomment %}
{% include 'home/offers.html' %}
{% comment %} customer reviews section {% endcomment %}
{% include 'home/reviews.html' %}

{% endblock %}