{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CrispyBite{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">

    <!-- Load the CSS -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/featured.css' %}">
    <link rel="stylesheet" href="{% static 'css/whychoose.css' %}">
    <link rel="stylesheet" href="{% static 'css/offers.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">


    {% block css %}{% endblock %}
</head>

<body>

    {% include 'partials/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/hero.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

    {% block js %}{% endblock %}

</body>
</html>